#! /bin/bash

export ROS_WORKSPACE=~/ws
export ROS_SRC_DIR=$ROS_WORKSPACE/src
export ROS_BUILD_DIR=$ROS_WORKSPACE/build
export ROS_INSTALL_DIR=$ROS_WORKSPACE/install
export ROS_LOG_DIR=$ROS_WORKSPACE/logs

# Add 